@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
	--color-twitter-blue: #990099;
	--color-gray-20: #f8f4eb;
	--color-gray-50: #efe6e6;
	--color-gray-100: #dfcccc;
	--color-gray-500: #5e0000;
	--color-primary-100: #ffe1e0;
	--color-primary-300: #ffa6a3;
	--color-primary-500: #ff6b66;
	--color-secondary-400: #ffcd5b;
	--color-secondary-500: #ffc132;

	--font-dmsans: 'DMSans';
	--font-montserrat: 'Montserrat';
}

html,
body,
#root,
.app {
	height: 100%;
	width: 100%;
	font-family: 'DMSans', sans-serif;
	color: #5e0000;
}
